<header class="header container-fluid">
  <% if current_user %>
    <%= current_user.name %>
    <%= link_to t("user.logout"), logout_path(id: current_user ), method: :delete %>
  <% end %>
</header>

<div class="container-fluid banner">
  <h1>
    <%#= current_user.name %>
    <% if content_for?(:title) %>
      <%= yield(:title)%>
    <% else %>
      <%= t("index.mission_task") %>
    <% end %>
  </h1>
</div>