// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back_btn_block{
  text-align: right;
  margin: 10px 0;
}

.add_new_user_block{
  text-align: right;
  margin: 10px 0;
}